/* schedule*/
table.schedule {
    margin-bottom: 15px;
    border-spacing: 0;
    color:#000;
    empty-cells:hide;
}

table.schedule th {
    text-align: left;
    color: #FFF;
    border:none !important;
    background: #306998;
    padding: 3px;
}
table.schedule tr {
border-top:1px dotted #323232;
}
table.schedule tr.pause {
background:#FFCC33 !important;
font-weight:bold;
}
table.schedule td.timetable {
    white-space: nowrap;
    font-weight:bold;
}
table.schedule td {
    padding-top: 4px;
    padding-right: 3px;
    padding-bottom: 4px;
    padding-left: 3px;
    text-align: left;
}
table.schedule td a {
    color:#306998;
}
table.schedule td a:hover {
    color:#3d73a6;
}
table.schedule caption {
    text-align: left;
    margin-bottom: 5px;
    font-size: 140%;
    color: #000;
}
table.schedule tr:nth-child(2n+2) {
    background: #d1deed;
}

#content ul.timeboard {
    padding: 0;
    list-style: none;
    list-style-image: none;
    margin: 0;
    overflow: hidden;
}

#content ul.timeboard li{
    padding: 0;
    list-style: none;
    list-style-image: none;
    float: left;
    margin: 0;
    color: #000;
}

#content ul.timeboard li time{
    display: block;
    margin-top: 5px;
    padding-left: 10px;
}