body.with-headeraddon {
#top-sponsors {
    @logoheight: 75px;
    @levelheight: 14px;
    @elpadding: 10px;
    @topheight: 6px + @logoheight + @levelheight + 2 * @elpadding;
    width: 926px;
    height: @topheight;
    background: #FFF;
    //background: rgba(255,255,255,0.6);
    margin: 0 auto 10px auto;
    position: relative;
    h1 {
        color: #FFF;
        position: absolute;
        padding: 1px 15px 3px 10px; 
        top: 0;
        left: 0;
        background: @red;
        font-size: 10px;
        //.border-radius(0 0 10px 0);
    }
    ul {
        overflow: hidden;
        list-style: none;
        padding: 0 0 0 0;
        width: 780px;
    }
    li {
        padding:5px 16px 10px 16px;
        float:left;
        a {
            display: block;
            height: @logoheight;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }
        img {
            max-width: 110px;
            max-height: @logoheight;
        }
        .level {
            display: block;
            text-align: center;
            font-weight: bold;
            height: @levelheight;
            line-height: @levelheight;
        }
    }
    .new {
        font-weight: bold;
        position: absolute;
        top: 0;
        right: 0;
        width: 120px;
        height: @topheight;
        line-height: 16px;
        a {
            color: #FFF;
            height: auto;
            text-decoration: none;
            background: @red;
            display: block;
            margin-top: 30px;
            padding: 10px;
            font-size: 12px;
        }
    }
    div.becomesponsor {
        background: transparent url("/@{base-img-url}/trenner-s.gif") left 15px no-repeat;
        position:absolute;
        top: 0; left: 765px;
        width: 135px;
        text-align: center;
        padding: 28px 0px 0px 0px;
        a {
            color: #9C1006;
            text-decoration: none;
            line-height: 1.6em;
        }
        a:hover {
            color:#515151 !important;
        }
        .slevel1 {
            font-size: 24px;
            font-weight: bold;
            margin-top: 0.5em;
        }
        .slevel2 {
            font-size: 16px;
        }
    }
}

} // body.with-headeraddon
