{% load crispy_forms_field %}

<div id="div_{{ field.auto_id }}" class="clearfix control-group{% if field.errors %} error{% endif %} {% if field.field.widget.attrs.class %} {{ field.field.widget.attrs.class }}{% endif %}">

    {% if field.label %}
        <label for="{{ field.auto_id }}" {% if field.field.required %}class="requiredField"{% endif %}>
            {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
        </label>
    {% endif %}

    <div class="controls">
        <div class="input-append">
            {% crispy_field field %}
        </div>

        {% include 'bootstrap/layout/field_errors.html' %}
        {% if extended_help %}
        <div id="hint_{{ field.auto_id }}" class="help-block extended">{{ extended_help|safe }}</div>
        {% endif %}
    </div>
</div>
