{% extends "site_base.html" %}
{% load i18n %}
{% block body %}
<article class="proposal">
<h1>{% trans "Proposal:" %} {{ proposal.title }}</h1>

<div class="meta">
{% blocktrans with speaker_url=proposal.speaker.get_absolute_url speaker=proposal.speaker submission_date=proposal.submission_date|date:"DATE_FORMAT" %}
<a class="speaker user" href="{{ speaker_url }}">{{ speaker }}</a> submitted this proposal at <span class="submission-date">{{ submission_date }}</span>.
{% endblocktrans %}
</div>

<div class="actions">
    {% if proposal.kind.accepts_proposals %}
        {% if can_leave %}
        <a href="{% url leave_proposal pk=proposal.pk %}?next={% url view_proposal proposal.pk %}">{% trans "Leave" %}</a>
        {% endif %}
        {% if can_edit %}
        <a href="{% url edit_proposal pk=proposal.pk %}?next={% url view_proposal proposal.pk %}">{% trans "Edit" %}</a>
        {% endif %}
        {% if can_delete %}
        <a href="{% url cancel_proposal pk=proposal.pk %}?next={% url view_proposal proposal.pk %}">{% trans "Delete" %}</a>
        {% endif %}
    {% endif %}
</div>

<div class="description">
    {{ proposal.description }}
</div>

<div class="abstract">
    {{ proposal.abstract }}
</div>
</article>
{% endblock %}